.navbarLink a {
  text-decoration: none;
  /* color: black; */
  color: currentColor;
}

.navbarLink {
  display: flex;
  list-style: none;
  column-gap: 54px;
  font-weight: 600;
  font-family: 'Segoe UI Bold ';
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .navbarLink {
    width: 100%;
    font-size: 20px;
  }
}
